@tailwind base;
@tailwind components;
@tailwind utilities;

.slant-bottom-left::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 20px;
  background: inherit;
  transform: skewX(-20deg);
  transform-origin: bottom left;
  z-index: 10;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
